<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Rater</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/push-chevron-right.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
  
  <style>
    .rating-1-3 { background-color: red; }
    .rating-4-6 { background-color: yellow; }
    .rating-7-10 { background-color: green; }
  </style>
</head>
<body>
  <h1>Movie <span id="Yellow">Rater</span> <span id="Sub"> - List and Rate your Favourite Movies</span></h1>

  <h2 id="SortHead">Sort By:</h2>
  <div id="SortCont">
    <h3><a href="/?sortBy=ratingAsc">Rating (Ascending)</a></h3>
    <h3><a href="/?sortBy=ratingDesc">Rating (Descending)</a></h3>
  </div>

  <ul>
    <% movies.forEach(movie => { 
        let ratingClass = "";
        if (movie.rating >= 1 && movie.rating <= 3) {
          ratingClass = "rating-1-3";
        } else if (movie.rating >= 4 && movie.rating <= 6) {
          ratingClass = "rating-4-6";
        } else if (movie.rating >= 7 && movie.rating <= 10) {
          ratingClass = "rating-7-10";
        }
    %>
      <li class="<%= ratingClass %>" onclick="toggleOptions(this)">
        <div id="Movie">
            <div id="Info">
                <%= movie.title %> - <%= movie.genre %> - <%= movie.director %><div id="Rating"><%= movie.rating %>/10</div>
            </div>
            
        <i class="gg-push-chevron-right" id="MenuBut"></i>

            <div id="Options">
                <a href="/movies/<%= movie.id %>/edit" id="Edit">Edit</a>

                <form action="/movies/<%= movie.id %>?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" id="Delete">Delete</button>
                </form>
            </div>
        </div>

      </li>
    <% }) %>
  </ul>
  <div id="Add"><a href="/new">Add New Movie</a></div>

  <script>
    function toggleOptions(element) {
      const liElement = element.closest('li');
      liElement.classList.toggle('expanded');
    }
  </script>
</body>
</html>